<!doctype html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/fontawesome/css/all.css">
    <title>suntory</title>
    <style>
        /* .carousel .carousel-item img {
            height: 600px;
        } */

        .bgcolor {
            background: -webkit-linear-gradient(#FFFFAA, white);
            /* background: -o-linear-gradient(yellow, white); firefox
            background: -moz-linear-gradient(yellow, white); opera
            background: linear-gradient(yellow, white); */
        }

        .husky {
            position: fixed;
            right: 0;
            top: 80px;
            width: 150px;
            height: 275px;
        }
    </style>
</head>

<body>
    <div class="bgcolor" style="padding-top: 0px;">
        <a href="http://localhost:3000/"><img src="../imgs/giphy.gif" alt="愛的魔力轉圈圈" class="husky"></a>
        <!-- <body background="../../imgs/suntorybg.jpg" style="background-attachment: fixed;"> -->