<style>
    .navbar .navbar-nav .nav-item.active {
        /* 沒有空格時必具備兩種屬性 */
        background-color: lightcoral;
        border-radius: 10px;
    }
</style>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">日本三得利京都啤酒工廠</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item <%= pageName=='home' ? 'active' : ''%>">
                    <a class="nav-link" href="/">首頁</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">飲品介紹</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/horoyoi">微醺系列</a>
                        <a class="dropdown-item" href="#">金麥系列</a>
                        <a class="dropdown-item" href="#">無酒精系列</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="https://products.suntory.co.jp/" target="_blank">日本三得利官方營養標示</a>
                    </div>
                </li>
                <li class="nav-item <%= pageName=='address-book-list' ? 'active' : '' %>">
                    <a class="nav-link" href="/address-book/list">預約清單</a>
                </li>
                <li class="nav-item <%= pageName=='address-book-add' ? 'active' : '' %>">
                    <a class="nav-link" href="/address-book/add">找不到網頁測試用</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <% if(sess.adminUser && sess.adminUser.account){ %>
                    <li class="nav-item">
                        <a class="nav-link"><%= sess.adminUser.nickname %></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/address-book/logout">登出</a>
                    </li>
                <% } else { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/address-book/login">管理員登入</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/address-book/register">註冊</a>
                    </li>
                <% } %>

            </ul>
        </div>
    </div>
</nav>

